<a href="/games/<%= game.url_slug %>" class="list-group-item list-group-item-action mb-2" >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-muted"><%= game.title %></h5>
      <img src="<%= game.image_url %>" class="gamepic inline-block" alt="...">
    </div>
    <p class="mb-1"><%= game.genre %>, <%= game.release_date %></p>

  </a>